<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"><ion-icon name="chevron-back-outline"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" id="present-alert" (click)="onSave()">
      Save
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="success">
  <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <input type="password" placeholder="Current Password" style="margin-left: 10px; border: none; background-color: transparent; color: white; font-size: 20px; width: 100%" />
      </div>
      <ion-icon name="close-circle"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <input type="password" placeholder="New Password" style="margin-left: 10px; border: none; background-color: transparent; color: white; font-size: 20px; width: 100%" />
      </div>
      <ion-icon name="close-circle"></ion-icon>
    </ion-card-content>
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <input type="password" placeholder="Retake Password" style="margin-left: 10px; border: none; background-color: transparent; color: white; font-size: 20px; width: 100%" />
      </div>
      <ion-icon name="close-circle"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-alert
  trigger="present-alert"
  header="Change password successfully"
  [buttons]="alertButtons"
></ion-alert>
</ion-content>
