<ion-header>
  <ion-toolbar color="success">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-text>
  <h2 style="padding-left: 20px ;">My Rubbish Bins</h2>
</ion-text>

<ion-card>
  <ion-card-content
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <div style="display: flex; align-items: center">
      <img
        src="assets/smartbin.jpg"
        style="width: 100px; height: 100px"
      />
      <div
        style="display: flex; flex-direction: column; align-items: flex-start"
      >
        <p style="margin: 0">Living Room Bin</p>
        <p style="margin: 0">succesfully connected </p>
      </div>
    </div>
    <ion-icon name="checkmark-circle"></ion-icon>
  </ion-card-content>
</ion-card>

  <img src="assets/plus.png" style="width: 50px; height: 50px; margin: 0 auto; display: block; margin-top: 200px;">
  <h1 style="text-align: center;"><a id="open-modal">Add New Rubbish</a></h1>

  <!-- Modal Pop -->

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Add Rubbish Bin</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Name of the Bin: </ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Verification code: </ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <br>
          <ion-button  color="success" style="margin: 0 auto; display: block; width: 150px;" href="/tabs/tab1" (click)="modal.dismiss()">Add</ion-button>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
        

</ion-content>

<ion-footer>
  <ion-toolbar color="success">
  </ion-toolbar>
</ion-footer>
