<ion-header>
  <ion-toolbar color="success">
    <h2>BinRadar</h2>
    <ion-icon slot="end" name="notifications" style="width: 40px; height: 40px"></ion-icon>
  </ion-toolbar> 
</ion-header>

<ion-content>

  <h1 style="margin-left: 20px">Account</h1>
  <ion-card color="success">
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <h2 style="margin: 0; color: white">Email</h2>
      </div>
      <p style="margin: 0; font-weight: bold; font-size: 20px; color: white">
        lala02&#64;gmail.com
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <h2 style="margin: 0; color: white">Profile Photo</h2>
      </div>

      <img src="assets/profilepic (1).png" style="width: 40px; height: 40px; border-radius: 50px;" />
    </ion-card-content>
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <h2 style="margin: 0; color: white" >Name</h2>
      </div>
      <p style="margin: 0; font-size: 20px; color: white" (click)="setOpen(true)">Lala02 ></p>
    </ion-card-content>
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <h2 style="margin: 0; color: white">Change Password</h2>
      </div>
      <p style="margin: 0; font-weight: bold; font-size: 20px; color: white">
        >
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card color="success">
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <h2 style="margin: 0; color: rgb(205, 17, 17)">Logout</h2>
      </div>
      <p style="margin: 0; font-weight: bold; font-size: 20px; color: white">
      </p>
    </ion-card-content>
  </ion-card>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Name</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="setOpen(false)">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content >
        <ion-card color="success">
          <ion-card-content
            style="display: flex; align-items: center; justify-content: space-between"
          >
            <div style="display: flex; align-items: center">
              <input type="text" placeholder="Lala02" style="outline: none; background-color: #52A447;">
            </div>
            <ion-icon name="close-circle" (click)="setOpen(false)"></ion-icon>
          </ion-card-content>
        </ion-card>
</ion-content>
  

