<ion-header>
  <ion-toolbar color="success">
    <h2 style="text-align: center;">BinRadar</h2>
    <ion-icon slot="end" name="notifications" style="width: 40px; height: 40px"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"><ion-icon name="chevron-back-outline"></ion-icon></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
    

</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/Frame 4.png" alt="" style="margin: 0 auto; display: block; margin-top: 25px;">

  <ion-text>
    <h3 style="padding-left: 20px ;">Welcome to BinRadar! We're on a mission to transform waste management using cutting-edge IoT technology. Our real-time monitoring system ensures bins are emptied efficiently, saving costs and reducing environmental impact. Join us in our journey towards a cleaner, greener future!</h3>
  </ion-text>

</ion-content>

<ion-footer>
  <ion-toolbar color="success">
    <ion-title>© 2024 BinRadar</ion-title>
  </ion-toolbar>