<ion-header>
  <ion-toolbar color="success">
    <ion-icon name="chevron-back-outline"></ion-icon>
    <ion-icon slot="end" name="notifications" style="width: 40px; height: 40px"></ion-icon>
  </ion-toolbar>
    

</ion-header>

<ion-content [fullscreen]="true">
  <div style="text-align: right; padding: 20px;">
  <ion-icon slot="end" name="refresh" style="width: 40px; height: 40px;" routerLink="/tabs/refresh"></ion-icon>
</div>
  <ion-card>
    
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
    
      <div style="display: flex; align-items: center">
        <img
src="assets/smartbin.jpg"
style="width: 30px; height: 30px; margin-right: 15px;"
/>
        <div
          style="display: flex; flex-direction: column; align-items: flex-start"
        >
          <p style="margin: 0">Living Room Bin</p>
        </div>
      </div>

      <h1 style="background-color: #52A447; width: 85px; height: 70px; padding: 10px; border-radius: 10px; text-align: center; color: aliceblue;">30%</h1>
    </ion-card-content>
  </ion-card> 

  <ion-card>
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <img
src="assets/smartbin.jpg"
style="width: 30px; height: 30px; margin-right: 15px;"
/>
        <div
          style="display: flex; flex-direction: column; align-items: flex-start"
        >
          <p style="margin: 0">Kitchen Bin</p>
        </div>
      </div>

      <h1 style="background-color: #FFB800; width: 85px; height: 70px; padding: 10px; border-radius: 10px; text-align: center; color: aliceblue;">50%</h1>
    </ion-card-content>
  </ion-card> 

  <ion-card>
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <img
src="assets/smartbin.jpg"
style="width: 30px; height: 30px; margin-right: 15px;"
/>
        <div
          style="display: flex; flex-direction: column; align-items: flex-start"
        >
          <p style="margin: 0">Bedroom Bin</p>
        </div>
      </div>

      <h1 style="background-color: #FE8080; width: 85px; height: 70px; padding: 10px; border-radius: 10px; text-align: center; color: aliceblue;">100%</h1>
    </ion-card-content>
  </ion-card> 

  <ion-card style="margin-bottom: 20px;">
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <img
        src="assets/smartbin.jpg"
        style="width: 30px; height: 30px; margin-right: 15px;"
        />
        <div
          style="display: flex; flex-direction: column; align-items: flex-start"
        >
          <p style="margin: 0">Prayer Room Bin</p>
        </div>
      </div>
      
      <h1 style="background-color: #52A447; width: 85px; height: 70px; padding: 10px; border-radius: 10px; text-align: center; color: aliceblue;">30%</h1>
    
    </ion-card-content>
  </ion-card> 
<ion-alert
  trigger="present-alert"
  header="Bedroom Bin Is Full"
  subHeader="Please Empty The Bin"
  [buttons]="alertButtons"
></ion-alert>

  


</ion-content>
