<ion-header>
  <ion-toolbar color="success">
    <h2>BinRadar</h2>
    <ion-icon slot="end" name="notifications" style="width: 40px; height: 40px"></ion-icon>
  </ion-toolbar>
    

</ion-header>

<ion-content>

  <ion-text>
    <h2 style="padding-left: 20px ;">Prayer room Bin</h2>
  </ion-text>
  <ion-button color="success" style="display: block; width: 150px; margin-left: 20px;" href="" >Change Bin</ion-button>

  <img src="assets/bin5percent.png" alt="" style="margin: 0 auto; display: block; margin-top: 25px;">

</ion-content>


